@charset "utf-8";
.header{position: fixed; width: 100%; height: 80px; z-index: 999;}

p,span{color: #fff; text-decoration: none;}

.header .nav ul li a{
    -webkit-text-stroke: 0.5px #fff;
    background-image: linear-gradient(0deg, #fff, #fff);

}
.header .nav ul li.on a{color: #fff;}




#fp-nav ul li .fp-tooltip{
    color: #000;
}
#fp-nav ul li a span{
    background-color: #000;
    
}
#fp-nav ul li a.active span, #fp-nav ul li a:hover span{
    height: 17px;
    width: 17px;
    margin: -9px 0 0 -9px;
    background: 0;
    background-image: url("../images/icon-x.png");
    background-size: cover;
}
#fp-nav ul li .fp-tooltip{font-family: 'Poppins', sans-serif; top: -7px; font-weight: 400; font-size: 15px;}




.content .work-wrap{width: 100vh; height: 100vh; display: flex; flex-direction: row;}

.content .img-bg{
    width: 640px;
    background-color: #fff;
    
}
.content .img-bg .work-img .pc img{
    width: 950px;
    position: relative;
    left: 166px;
    top: 170px;
}



.text-1 p, .text-1 span, .text-2, .btn-wrap a{font-family: 'Poppins', sans-serif; font-weight: 300;}
.text-3, .text-4{font-family: 'Noto Sans KR', sans-serif; font-weight: 300;}



.content .img-bg .text-1 p:nth-child(1),
.content .img-bg .text-1 p:nth-child(2),
.content .img-bg .text-1 p:nth-child(3){
    left: 10px;
    letter-spacing: -0.7pt;
}
.content .img-bg .text-1 p:nth-child(1){
    font-size: 120px;
    font-weight: 800;
    color: #000;
    position: absolute;
    bottom: 205px;

}
.content .img-bg .text-1 p:nth-child(2),
.content .img-bg .text-1 p:nth-child(3){
    font-size: 116px;
    font-weight: 700;

    color: transparent;


}
.content .img-bg .text-1 p:nth-child(2){
    position: absolute;
    bottom: 100px;
}
.content .img-bg .text-1 p:nth-child(3){
    position: absolute;
    bottom: 0px;
}
/* .content .img-bg .text-1 p span{
    font-size: 88px;
    font-weight: 700;
    position: relative;
}
.content .img-bg .text-1 p:nth-child(2){
    top: -45px;
    left: 10px;
}
.content .img-bg .text-1 p:nth-child(3){
    top: 0px;
    left: -192px;
} */





.content .text-bg .text-wrap{
    position: absolute;
    width: 600px;
    top: 285px;
    left: 1025px;
}

.content .text-bg .text-wrap .text-2 p{
    display: inline-block;
    font-size: 62px;
    line-height: 84px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content .text-bg .text-wrap .text-2 .korean{
    display: inline-block;
    font-size: 54px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
.content .text-bg .text-wrap .text-2 p:nth-child(1){
    margin-right: 10px;
    font-weight: 600;
}
.content .text-bg .text-wrap .text-2 span{
    display: block;
    width: 988px; height: 1px;
    position: absolute;
    right: -300px;
    top: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.content .text-bg .text-wrap .text-3 p{
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: -0.25pt;
    transform: rotate(0.04deg);
    font-weight: 300;
}




.content .text-bg .text-wrap .text-4{
    margin-bottom: 30px;
    display: flex;
    font-size: 18px;
}
.content .text-bg .text-wrap .text-4 .wrap-1 p{
    font-weight: 500;
    transform: rotate(0.04deg);
    letter-spacing: 0.8pt;
}
.content .text-bg .text-wrap .text-4 .wrap-2 p{
    margin-left: 35px;
    letter-spacing: 0.2pt;
    font-weight: 200;
    transform: rotate(0.04deg);
}






.content .text-bg .text-wrap .btn-wrap ul{
    display: flex;
}
.content .text-bg .text-wrap .btn-wrap ul li{
    /* border: 1px solid #fff; */
    padding: 10px 0px;
    transition: 0.3s;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    margin-right: 15px;
}
.content .text-bg .text-wrap .btn-wrap ul li a{
    letter-spacing: 0.7pt;
    padding: 10px 40px;
    transition: 0.3s;
}





/* 버튼1 */


.content .text-bg .text-wrap .btn-wrap ul li:hover{
    background-color: #000;
}
.content .text-bg .text-wrap .btn-wrap ul li:hover a{
    color: #fff;
}



.content .text-bg .text-wrap .btn-wrap ul li{
    background-color: #fff;
}
.content .text-bg .text-wrap .btn-wrap ul li a{
    color: #262626;
}


/* 버튼2 */


#fullpage .section:nth-child(2) .content .text-bg .text-wrap .btn-wrap ul li:hover{
    background-color: #08a0b7;
}
#fullpage .section:nth-child(2) .content .text-bg .text-wrap .btn-wrap ul li:hover a{
    color: #fff;
}



#fullpage .section:nth-child(2) .content .text-bg .text-wrap .btn-wrap ul li{
    background-color: #fff;
}
#fullpage .section:nth-child(2) .content .text-bg .text-wrap .btn-wrap ul li a{
    color: #08a0b7;
}



/* 버튼3 */
#fullpage .section:nth-child(3) .content .text-bg .text-wrap .btn-wrap ul li:nth-child(1):hover{
    background-color: #6a8cbf;
}
#fullpage .section:nth-child(3) .content .text-bg .text-wrap .btn-wrap ul li:nth-child(1):hover a{
    color: #fff;
}


#fullpage .section:nth-child(3) .content .text-bg .text-wrap .btn-wrap ul li:nth-child(1){
    background-color: #fff;
}
#fullpage .section:nth-child(3) .content .text-bg .text-wrap .btn-wrap ul li:nth-child(1) a{
    color: #6a8cbf;
}
























/* .content .img-wrap .work-img{flex-basis: 30%;}

.content .text-wrap{
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #000;
    
} */



/* .bg{width: 60%; height: 100%; background-color: #161616;}
 */
/* 
.content .work-wrap{max-width: 1200px; margin: 0 auto; padding-bottom: 100px;}
.content .work-content{background-color: #161616;padding: 50px 30px 100px; box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.2); display: flex; border: 1px solid #ddd; margin-bottom: 100px;}
.content .work-content:last-child{margin-bottom: 0;}
.content .work-content:nth-child(2n) .work-img{order:2;}
.content .work-content:nth-child(2n) .work-desc{order:1;}

.content .work-content p{font-size: 1em; padding: 10px 0 10px 50px;}
.content .work-content .work-img{flex-basis: 48%; position: relative;}
.content .work-content .work-img img{width: 100%;}
.content .work-content .work-img > div{position: absolute;}
.content .work-content .work-img .pc{width: 85%; left: 50%; transform: translateX(-50%); bottom: 0; overflow: hidden;}
.content .work-content .work-img .pc::after{content: ""; position: absolute; width: 92.25%; height: 62%; background: url("../images/preview.jpg") center top no-repeat;
left: 17px; top: 19px; background-size: cover; transition: 5s;}
.content .work-content .work-img .tablet{width: 35%; right: 0; bottom: 0; overflow: hidden;}
.content .work-content .work-img .tablet::after{content: ""; position: absolute; width: 86%; height: 81%; background: url("../images/preview.jpg") center top no-repeat;
    left: 15px; top: 22px; background-size: cover; transition: 5s;}
.content .work-content .work-img .mobile{width: 23%; left: 0; bottom: 0;}
.content .work-content .work-img .mobile::after{content: ""; position: absolute; width: 90%; height: 93%; background: url("../images/preview.jpg") center top no-repeat;
    left: 7px; top: 7px; background-size: cover; transition: 5s; border-radius: 5px;}
.content .work-content .work-img > div:hover::after{background-position: center bottom;}
.content .work-content .work-desc{flex-basis: 55%; padding-top: 20px;}
.content .work-content .work-desc p:nth-child(1){font-weight: bold; font-size: 2em;}
.content .work-content .work-desc p:nth-child(2){font-size: 1.2em;}
.content .work-content .work-desc p span{width: 20px; height: 20px; display: inline-block; vertical-align: middle;}
.content .work-content .work-desc p:nth-child(4) span:nth-child(1){background-color: skyblue;}
.content .work-content .work-desc p span:nth-child(2){background-color: orange; margin: 0 10px;}
.content .work-content .work-desc p span:nth-child(3){background-color: coral;}
.content .work-content .work-desc .btn-wrap ul{display: flex; justify-content: center; width: 100%; flex-wrap: wrap; margin-top: 25px;}
.content .work-content .work-desc .btn-wrap ul li{padding: 2% 6%; text-transform: uppercase; font-weight: 500; background-color: #fff; border: 1px solid #ddd; flex-basis: 10%; border-radius: 5px; cursor: pointer; transition: 0.5s;}
.content .work-content .work-desc .btn-wrap ul li:nth-child(2){margin: 0 4%;}
.content .work-content .work-desc .btn-wrap ul li a{transition: 0.3s 0.1s;}
.content .work-content .work-desc .btn-wrap ul li:hover{box-shadow: -120px 0 0 0 #ffa31b inset, inset 120px 0 0 0 #ffa31b;}
.content .work-content .work-desc .btn-wrap ul li:hover a{color: #fff;}
 */
